<div class="container">
    <div class="row">
        <h1 class="col-xs-10 col-sm-10 col-md-11 col-lg-11"> 
            Work at {{ job.company }} being a {{ job.title }}
        </h1>
        <div
            ng-show="canEdit()"
            class="col-xs-2 col-sm-2 col-md-1 col-lg-1"
        >
            <button
                class="btn btn-primary"
                ng-click="edit()"
                style="float: right;"
            >Edit</button>
        </div>
    </div>
    <hr>
    <p>
        <span class="glyphicon glyphicon-time"></span>
        Posted on {{ job.date_created }}
    </p>
    <hr>
    <markdown text="{{ job.description }}"></markdown>
</div>
